<!DOCTYPE html>
<html lang="en">

<head>
    <title>Our Process</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="our-process.css">
    <%- include('globals/header') %>
</head>

<body>
    <%- include('globals/navbar2') %>

        <!-- ============================================= SIDEBAR ============================================= -->

        <%- include('globals/sidebar') %>

            <!-- ============================================= MAIN SECTION ============================================= -->

            <main>
                <section class="about_section sections">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <div class="main_head">
                                    <h1>OUR PROCESS</h1>
                                    <p>Welcome to Beco Consulting! We are your trusted partners in the world of business
                                        consulting, offering expert advice and tailored solutions to optimize your
                                        company's potential.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>


            <!-- ============================================= PROCESS ============================================= -->

            <section class="our_process sections">
                <div class="container">
                    <div class="row">
                        <div class="members_head centered_heading">
                            <span class="info_head">HOW WE WORK</span>
                            <h1>We love to find solutions
                                to complex challenges</h1>
                        </div>
                    </div>
                </div>
                <div class="process_start">
                    <div class="container">
                        <div class="process_content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="process_left order-md-1">
                                        <div class="process_img">
                                            <img src="img/process/process-1.webp" alt="" class="img-fluid">
                                        </div>
                                        <div class="process_timeline">
                                            <h1>1</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="process_right order-md-2">
                                        <div class="process_text">
                                            <h2>Discovery and Needs Assessment</h2>
                                            <p>Every successful partnership starts with understanding your unique needs
                                                and
                                                challenges.
                                                We
                                                conduct in-depth consultations and assessments to gain insight into your
                                                business
                                                and
                                                goals.
                                            </p>
                                            <a href="">Discover More <i class="fa-solid fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="process_content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="process_left order-md-3">
                                        <div class="process_text">
                                            <h2>Discovery and Needs Assessment</h2>
                                            <p>Every successful partnership starts with understanding your unique needs
                                                and
                                                challenges.
                                                We
                                                conduct in-depth consultations and assessments to gain insight into your
                                                business
                                                and
                                                goals.
                                            </p>
                                            <a href="">Discover More <i class="fa-solid fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="process_right order-md-4">
                                        <div class="process_img">
                                            <img src="img/process/process-1.webp" alt="" class="img-fluid">
                                        </div>
                                        <div class="process_timeline">
                                            <h1>2</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- https://assets-global.website-files.com/64f5753b4e82f3262cbb7e3d/65031046b1c39b4b1d42832a_mario-gogh).webp -->

            <%- include('globals/scripts') %>