<section class="about_us sections">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video_loop">
                    <img src="img/about.jpg" alt="" class="img-fluid">
                    <div class="about_play_btn">
                        <i class="fa-solid fa-play"></i>
                        <div class="outer_ring"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_us_info sections_head">
                    <span class="info_head">ABOUT US</span>
                    <h2>We love to find solutions</h2>
                    <p>"At Beco, we believe that every business has the potential to thrive and achieve
                        greatness.
                        We are a team of passionate and experienced professionals committed to your success."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video_overlay">
        <div class="yt_video">
            <iframe width="860" height="515" src="https://www.youtube.com/embed/IMxDeACOWCE?si=1qXjMTcVtmGcAmX7"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</section>