<footer>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pe-5">
                    <div class="footer_logo">
                        <img src="/img/logo.jpg" alt="" class="img-fluid">
                        <p>Choosing Beco means embracing a transformative experience that unlocks your
                            business's full potential.</p>
                    </div>
                    <div class="team_social">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 me-lg-5 me-md-0">
                    <div class="footer_links">
                        <h2>Extra Links</h2>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Company</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Our Team</a></li>
                            <li><a href="">Pricing Plans</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 me-lg-4 me-md-0">
                    <div class="footer_links">
                        <h2>Other Links</h2>
                        <ul>
                            <li><a href="">Services</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Career</a></li>
                            <li><a href="">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_links">
                        <h2>Our Contacts</h2>
                        <ul>
                            <li><i class="fa-solid fa-map"></i><a href="">307 Beverley, New York</a></li>
                            <li><i class="fa-solid fa-phone"></i><a href="">+ (0777) 888 88 888</a></li>
                            <li><i class="fa-solid fa-envelope"></i><a href="">information@office.com</a></li>
                            <li class="hours">
                                <i class="fa-solid fa-clock"></i>
                                <p>Our Working Hours Mon - Sat: 8 am - 6 pm</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>