<header>
    <nav class="navbar1">
        <div class="logo">
            <img src="/img/logo.jpg" alt="">
        </div>
        <ul class="main_ul">
            <li><a href="/">Home</a></li>
            <li class="dropdown_li"><a href="index">Company <i class="fa-solid fa-angle-down"></i></a>
                <ul class="dropdown_ul">
                    <li><a href="about">About us</a></li>
                    <li><a href="our-team">Our Team</a></li>
                    <li><a href="our-process">Our Process</a></li>
                    <li><a href="pricing-plans">Pricing Plans</a></li>
                </ul>
            </li>
            <li><a href="services">Services</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="career">Career</a></li>
            <li><a href="contact-us">Contact us</a></li>
        </ul>
        <div class="contact_btn d-flex align-items-center justify-content-center ">
            <button class="btns">Let's talk</button>
            <div class="menu_bar">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
</header>