<section class="newsletter sections">
    <div class="container">
        <div class="row">
            <div class="newsletter_main">
                <div class="row d-flex align-items-center ">
                    <div class="col-lg-4">
                        <h1>Subscribe to our Newsletter!</h1>
                    </div>
                    <div class="col-lg-4 accordion-collapse pe-5">
                        <p>For more information or to schedule a tour, contact a sales consultant who can help
                            you decide which community</p>
                    </div>
                    <div class="col-lg-4">
                        <form action="">
                            <div class="newsletter_fields">
                                <input type="text" name="email" placeholder="Your email address" class="input1">
                                <input type="submit" name="submit" class="secondary_btn input2"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>