<div class="bg_overlay"></div>
<div class="sidebar">
    <div class="logo">
        <img src="img\logo.jpg" alt="" class="img-fluid w-25">
        <i class="fa-solid fa-x"></i>
    </div>
    <ul class="side_menu">
        <li><a href="">Home</a></li>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Company
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Our Team</a></li>
                        <li><a href="">Our Process</a></li>
                        <li><a href="">Pricing Plans</a></li>
                    </div>
                </div>
            </div>
        </div>
        <li><a href="">Services</a></li>
        <li><a href="">Portfolio</a></li>
        <li><a href="">Career</a></li>
        <li><a href="">Contact us</a></li>
    </ul>
    <div class="contact_btn">
        <button class="primary_btn">Let's talk</button>
    </div>
</div>